* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
@mixin centr {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
      307deg,
      transparent 0%,
      transparent 10%,
      rgba(190, 190, 190, 0.04) 10%,
      rgba(190, 190, 190, 0.04) 64%,
      transparent 64%,
      transparent 100%
    ),
    linear-gradient(
      118deg,
      transparent 0%,
      transparent 11%,
      rgba(190, 190, 190, 0.04) 11%,
      rgba(190, 190, 190, 0.04) 31%,
      transparent 31%,
      transparent 100%
    ),
    linear-gradient(
      73deg,
      transparent 0%,
      transparent 22%,
      rgba(190, 190, 190, 0.04) 22%,
      rgba(190, 190, 190, 0.04) 90%,
      transparent 90%,
      transparent 100%
    ),
    linear-gradient(
      156deg,
      transparent 0%,
      transparent 51%,
      rgba(190, 190, 190, 0.04) 51%,
      rgba(190, 190, 190, 0.04) 97%,
      transparent 97%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  gap: 100px

}
.header {
  @include centr;
  min-height: 80px;
  .logo {
    @include centr;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: 30px;
    
    h1 {
      text-align: center;
      letter-spacing: 15px;
      font-size: 3rem;
      position: relative;
    }
    p{
      font-size: 0.8rem
    }
  }
}
.main {
  @include centr;
  flex-direction: column;
  gap: 20px
  
}
.content{
  @include centr;
  gap: 20px;
}
.container {
  display: flex;
  justify-content: center;
}
.contacts{
  @include centr;
  gap: 20px;
  a{
    img{
      width: 75px;
      height: 75px;
    }
    
  }
}
.link {
  &-instagram {
    @include centr;
    min-width: 75px;
    height: 75px;
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  &-facebook {
    @include centr;
    min-width: 75px;
    height: 75px;
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  &-booksy {
    @include centr;
    min-width: 75px;
    height: 75px;
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
}
.logo {
  &-inst {
    width: 70%;
    height: 70%;
    background-image: url(../img/Instagram-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &-booksy {
    width: 70%;
    height: 70%;
    background-image: url(../img/Booksy_Logomark.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &-facebook {
    width: 70%;
    height: 70%;
    background-image: url(../img/Facebook-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.footer {
  color: rgb(248, 248, 248);
  padding: 20px;
  gap: 30px;
  font-size: 1rem;
  @include centr;
  flex-direction: column;
  a {
    @include centr;
    gap: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    img{
      width: 35px;
      height: 35px;
    }
  }
}
