* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin centr {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
      307deg,
      transparent 0%,
      transparent 10%,
      rgba(190, 190, 190, 0.04) 10%,
      rgba(190, 190, 190, 0.04) 64%,
      transparent 64%,
      transparent 100%
    ),
    linear-gradient(
      118deg,
      transparent 0%,
      transparent 11%,
      rgba(190, 190, 190, 0.04) 11%,
      rgba(190, 190, 190, 0.04) 31%,
      transparent 31%,
      transparent 100%
    ),
    linear-gradient(
      73deg,
      transparent 0%,
      transparent 22%,
      rgba(190, 190, 190, 0.04) 22%,
      rgba(190, 190, 190, 0.04) 90%,
      transparent 90%,
      transparent 100%
    ),
    linear-gradient(
      156deg,
      transparent 0%,
      transparent 51%,
      rgba(190, 190, 190, 0.04) 51%,
      rgba(190, 190, 190, 0.04) 97%,
      transparent 97%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  @include centr;
  min-height: 80px;
  .logo {
    color: antiquewhite;
    font-size: 5rem;
    text-transform: uppercase;
    position: relative;
    margin-top: 30px;
    &::before {
      content: "beauty";
      position: absolute;
      color: inherit;
      text-transform: uppercase;
      bottom: -50%;
      font-size: 1.5rem;
      left: 50%;
      transform: translate(-50%, -100%);
    }
  }
}
.main {
  @include centr;
  flex-direction: column;
  margin-top: 70px;
  gap: 30px;
}
.container {
  display: flex;
  min-width: 40%;
  height: 200px;
}
.link {
  &-instagram {
    @include centr;
    min-width: 200px;
    height: 200px;
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  &-facebook {
    @include centr;
    min-width: 200px;
    height: 200px;
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  &-booksy {
    @include centr;
    min-width: 200px;
    height: 200px;
    background-image: linear-gradient(
      135deg,
      rgba(239, 50, 50, 0.1),
      rgba(46, 88, 203, 0.1)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
}
.logo {
  &-inst {
    width: 70%;
    height: 70%;
    background-image: url(../img/Instagram-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &-booksy {
    width: 70%;
    height: 70%;
    background-image: url(../img/Booksy_Logomark.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &-facebook {
    width: 70%;
    height: 70%;
    background-image: url(../img/Facebook-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.footer {
  color: antiquewhite;
  padding: 20px;
  gap: 30px;
  font-size: 1.5rem;
  @include centr;
  flex-direction: column;
}
